@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    font-size: 14px;
    background: #FEF9F9;
}

.Register {
    display: flex;
    flex-direction: row;
    width: 100vw;
    overflow: hidden;
}

.Register .Left-side {
    background-color: black;
    width: 30%;
    height: 99.8vh;
}

.Register .Left-side img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.Register .Right-side {
    width: 65%;
    height: 99.8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0px 0px 20px;
    background: #FEF9F9;
    position: relative;
    z-index: 2;
    left: -5%;


}

#registerForm {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#registerForm .User-Agreement {
    text-align: center;
    font-size: 1em;
    width: 75%;
}

#registerForm .User-Agreement a {
    color: #3F3CEE;
    text-decoration: none;
}


#registerForm input {
    background-color: transparent;
    border: 0;
    border-bottom: 1.5px solid #C4C4C4;;

    color: #5C5C5C;

    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 136.5%;
    letter-spacing: 1.12px;
    width: 100%;

    height: 50px;
}

#registerForm button {
    display: flex;
    padding: 18px 0px 19px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #120A2F;
    width: 100%;

    color: #FFF;

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 136.5%; /* 21.84px */
    letter-spacing: 1.28px;
}

#registerForm button:hover {
    cursor: pointer;
}

#registerForm .Already-Account {
    text-align: left;
    width: 100%;
}

#registerForm .Already-Account a {
    color: #3F3CEE;
    text-decoration: none;
}

#registerForm h1 {
    width: 100%;
    text-align: left;
}