@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    font-size: 14px;
    background: #FEF9F9;
}

.Profile {
    display: flex;
    flex-direction: row;
    width: 100vw;
    overflow: hidden;
}

.Profile .Left-side {
    background-color: black;
    width: 30%;
    height: 99.8vh;
    background-image: url(../images/Tesla.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Profile .Right-side {
    width: 65%;
    height: 99.8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0px 0px 20px;
    background: #FEF9F9;
    position: relative;
    z-index: 2;
    left: -5%;
}

#profileForm {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
#profileForm .input-container {
    position: relative;
    width: 100%;
}
#profileForm .input-container .fa-edit {
    position: absolute;
    left: 95%;
    top: 50%;
}
#profileForm .input-container .fa-edit:hover {
    cursor: pointer;
}
#profileForm .input-container i {
    position: absolute;
}
#profileForm input {
    background-color: transparent;
    border: 0;
    border-bottom: 1.5px solid #C4C4C4;

    color: #5C5C5C;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 136.5%;
    letter-spacing: 1.12px;
    width: 100%;
    height: 50px;
}

#profileForm input.disabled {
    border-bottom: 1.5px solid red;
}

#profileForm button {
    display: flex;
    padding: 18px 0px 19px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #120A2F;
    width: 100%;
    color: #FFF;

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 136.5%; /* 21.84px */
    letter-spacing: 1.28px;
}

#profileForm button:hover {
    cursor: pointer;
}

#profileForm .Logout-Section {
    text-align: left;
    width: 100%;
}

#profileForm .Logout-Section a {
    color: #3F3CEE;
    text-decoration: none;
}

#profileForm h1 {
    width: 100%;
    text-align: left;
}

#profileForm label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.Home-click:hover {
    cursor: pointer;
    opacity: 80%;
}