@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    font-size: 14px;
    background: #FEF9F9;
}

.rent-page {
    display: flex;
    flex-direction: row;
    width: 100vw;
    overflow: hidden;
}

.rent-page .Flex {
    display: flex;
    flex-direction: row;
    padding: 2% 5%;
    width: 100%;
    align-items: center;
    justify-content: center;

}
.rent-page .Flex .Details {
    display: flex;
    flex-direction: row;
}

.rent-page .Details {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
}

.rent-page .Details h1 {
    color: #333;
    font-size: 24px;
    margin: 0;
    font-weight: bold;
}

.rent-page .Details span {
    color: #5C5C5C;
}

.rent-page img {
    width: 40%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

form#rental-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

form#rental-form .form-group {
    width: 100%;
}

form#rental-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

form#rental-form input[type="date"] {
    width: 95%;
    padding: 2.5%;
    border: 1.5px solid #C4C4C4;
    border-radius: 8px;
    background-color: #f9f9f9;
    color: #333;
    font-family: Montserrat;

}

#Rent-button {
    padding: 15px 0;
    background: #120A2F;
    color: #FFF;
    width: 100%;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border: none;
}

#Rent-button:hover {
    cursor: pointer;
    background-color: #3F3CEE;
}

.rent-page .Left-side {
    background-color: black;
    width: 30%;
    height: 99.8vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/Tesla.jpg);
}

.rent-page .Right-side {
    width: 65%;
    height: 99.8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FEF9F9;
    position: relative;
    z-index: 2;
    left: -5%;
}
@media screen and (max-width: 1200px) {
    form#rental-form {
        width: 80%;
    }
    .rent-page .Details {
        width: 80%;
    }

}