<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Rental Home</title>
    <link rel="stylesheet" type="text/css" href="/css/Home.css">
</head>
<body>
<!-- Navbar will be inserted here by navbar.js -->

<section class="Tesla-background">
</section>
<section class="bottom-section">
    <section class="Three-simple-steps">
        <section class="Top-section">
            <h1>Three simple steps to rent a car</h1>
            <Section class="Right-side">
                <a href="/rental" style="text-decoration: none; color: inherit;">
                    <p>View rental options</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <g clip-path="url(#clip0_78_505)">
                            <path d="M20.01 13H8V15H20.01V18L24 14L20.01 10V13Z" fill="black"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_78_505">
                                <rect width="24" height="24" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                </a>
            </Section>
        </section>

        <div class="Steps">
            <div class="Step">
                <img src="../images/Tesla.png" alt="Step 1">
                <Section class="Text-section">
                    <h4>Search vehicles</h4>
                    <p>Explore availabe vehicles</p>
                </Section>
            </div>
            <div class="Step">
                <img src="../images/Tesla.png" alt="Step 1">
                <section class="Text-section">
                    <h4>Filter-vehicles</h4>
                    <p>Refine vehicle selection</p>
                </section>
            </div>
            <div class="Step">
                <img src="../images/Tesla.png" alt="Step 1">
                <section class="Text-section">
                    <h4>Rent a car</h4>
                    <p>Start your car rental</p>
                </section>
            </div>
        </div>
    </section>
    <section class="Join-now">
        <button onclick="window.location.href='/register';">
            <p>Join now!</p>
        </button>
    </section>
</section>

<!-- Import the navbar.js file -->
<script src="/js/Navbar.js"></script>

</body>
</html>
