<!-- src/main/resources/templates/register.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../css/Register.css">
</head>
<body>
<div class="Register">
    <div class="Left-side">
    </div>
    <div class="Right-side">
        <form id="registerForm">
            <h1>Create Account</h1>
            <input type="text" id="userName" name="userName" placeholder="Username" required>
            <input type="text" id="userLastname" name="userLastname" placeholder="Last Name" required>
            <input type="text" id="userFirstName" name="userFirstName" placeholder="First Name" required>
            <input type="password" id="userPassword" name="userPassword" placeholder="Password" required>
            <input type="email" id="userEmail" name="userEmail" placeholder="Email" required>

            <p class="User-Agreement">
                By clicking Create Account, you agree to our
                <a href="user-agreement-url" target="_blank">User Agreement</a>
                and
                <a href="privacy-policy-url" target="_blank">Privacy Policy</a>.
            </p>

            <button type="submit">Create Account</button>
            <p class="Already-Account">
                Already have an account?
                <a href="login">Login</a>
            </p>
        </form>
    </div>
</div>
<script>
    localStorage.getItem('token') && window.location.replace('/profile');
    document.getElementById('registerForm').addEventListener('submit', async (e) => {
        e.preventDefault();
        const userName = document.getElementById('userName').value;
        const userLastname = document.getElementById('userLastname').value;
        const userFirstName = document.getElementById('userFirstName').value;
        const userPassword = document.getElementById('userPassword').value;
        const userEmail = document.getElementById('userEmail').value;

        const response = await fetch('/api/users/register', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({userName, userLastname, userFirstName, userPassword, userEmail})
        });

        if (response.ok) {
            const user = await response.json();
            window.location.href = '/login';
            alert('Registration successful');
        } else {
            alert('Registration failed');
        }
    });
</script>
</body>
</html>